{{ define "pre-main" }}

<div class="banner-area" id="banner-area" style="background-image:url(/images/banner/products.jpg);">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col">
             <div class="banner-heading">
                <h1 class="banner-title">{{.Title}}</h1>
                {{ partial "breadcrumb" . }}
             </div>
          </div>
          <!-- Col end-->
       </div>
       <!-- Row end-->
    </div>
    <!-- Container end-->
 </div>
 <!-- Banner area end-->

<section id="main-container" class="main-container">
    <div class="container">
       <div class="row text-center">
          <div class="col-md-12">

{{ end }}

{{ define "main" }}
    {{ .Content }}
{{ end }}

{{ define "post-main" }}

</div>
</div>




<ul class="service-menu">
{{ range .Site.Taxonomies.categories }}
    <li><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></li>
    {{ end }}
</ul>



</div><!--/ Container end -->
</section><!-- Main container end -->

{{ end }}