{{ define "pre-main" }}
<div class="banner-area" id="banner-area" style="background-image:url(/images/banner/{{.Params.banner_image}}.jpg);">
    <div class="container">
       <div class="row justify-content-center">
          <div class="col">
             <div class="banner-heading">
                <h1 class="banner-title">{{.Title}}</h1>
                {{ partial "breadcrumb" . }}
             </div>
          </div>
          <!-- Col end-->
       </div>
       <!-- Row end-->
    </div>
    <!-- Container end-->
 </div>
 <!-- Banner area end-->
{{ end }}
{{ define "main" }}
    {{ .Content }}
{{ end }}