<!-- Footer start-->
<footer class="footer" id="footer">
    <div class="footer-main bg-overlay">
       <div class="container">
          <div class="row">
             <div class="col-lg-4 col-md-12 footer-widget footer-about">
                <div class="footer-logo">
                   <img src="/images/logo/ra_footer.png" alt="Footer logo of RamindoAutonesia">
                </div>
                <p>PT. Ramindo Autonesia Dinamika adalah perusahaan yang bergerak di bidang material handling dan lifting equipment, electric chain hoist dan crane, alat hydrolik, serta lift barang. Kami adalah importir dan agen tunggal resmi dari produk merk Black Bear dan ComeUp.</p>
                
             </div>
             <!-- About us end-->
             <div class="col-lg-4 col-md-6 footer-widget">
                <h3 class="widget-title">Sitemap</h3>
                <ul class="list-dash">
               <li><a href="/">Home</a></li>
                 <li><a href="/services/">Services</a></li>
                 <li><a href="/products/">Products</a></li>
                 <li><a href="/about-us/">About Us</a></li>
                 <li><a href="/contact-us/">Contact Us</a></li>
               </ul>
             </div>
             <div class="col-lg-4 col-md-6 footer-widget">
                <h3 class="widget-title">Contact Information</h3>
                <div class="ts-contact-info"><span class="ts-contact-icon float-left"><i class="icon icon-map-marker2"></i></span>
                   <div class="ts-contact-content">
                      <h3 class="ts-contact-title">Address</h3>
                      <p>Jl. KH.Moh.Mansyur No.175A, RT.1/RW.2, Duri Utara, Kec. Tambora, Kota Jakarta Barat, Daerah Khusus Ibukota Jakarta 11270</p>
                      <p><a href="https://goo.gl/maps/kseb3ruGkSmZicZB6">View on Google Maps</a></p>
                   </div>
                   <!-- Contact content end-->
                </div>
                <div class="ts-contact-info last"><span class="ts-contact-icon float-left"><i class="fa fa-whatsapp"></i></span>
                  <div class="ts-contact-content">
                     <h3 class="ts-contact-title">WhatsApp</h3>
                     <p>+6289-9017-3505</p>
                     <p><a href="https://api.whatsapp.com/send?phone=628990173505">Chat via WhatsApp</a></p>
                  </div>
                  <!-- Contact content end-->
               </div>
               <div class="ts-contact-info last"><span class="ts-contact-icon float-left"><i class="fa fa-fax"></i></span>
                  <div class="ts-contact-content">
                     <h3 class="ts-contact-title">Fax</h3>
                     <p>(021) 6331649</p>
                  </div>
                  <!-- Contact content end-->
               </div>
                <div class="ts-contact-info"><span class="ts-contact-icon float-left"><i class="icon icon-phone3"></i></span>
                   <div class="ts-contact-content">
                      <h3 class="ts-contact-title">Phone</h3>
                      <p>(021) 6319619</p>
                      <p>(021) 6319620</p>
                      <p>(021) 6329621</p>
                      <p>(021) 6319310</p> 
                      <p>(021) 6315671</p>
                   </div>
                   <!-- Contact content end-->
                </div>
                <div class="ts-contact-info last"><span class="ts-contact-icon float-left"><i class="icon icon-envelope"></i></span>
                  <div class="ts-contact-content">
                     <h3 class="ts-contact-title">Email</h3>
                     <p>ramindo_id@yahoo.com</p>
                     <p><a href="mailto:ramindo_id@yahoo.com">Send Email</a></p>
                  </div>
                  <!-- Contact content end-->
               </div>
             </div>
          </div>
          <!-- Content row end-->
       </div>
       <!-- Container end-->
    </div>
    <!-- Footer Main-->
    <div class="copyright">
       <div class="container">
          <div class="row">
             <div class="col-lg-12 col-md-12">
		     <div class="copyright-info"><span>Copyright © {{ now.Format "2006" }} PT. Ramindo Autonesia Dinamika | Powered by <a href="https://gohugo.io/">hugo</a> | <a href="https://github.com/furioustheme/logicraft">Logicraft</a> theme by <a href="https://furioustheme.com/">Furioustheme</a></span></div>
             </div>
          </div>
          <!-- Row end-->
       </div>
       <!-- Container end-->
    </div>
    <!-- Copyright end-->
 </footer>
 <!-- Footer end-->

 <div class="back-to-top affix" id="back-to-top" data-spy="affix" data-offset-top="10">
    <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i>
       <!-- icon end-->
    </button>
    <!-- button end-->
 </div>
 <!-- End Back to Top-->
