<div class="site-top-2">
    <header class="header nav-down" id="header-2">
       <div class="container">
          <div class="row">
             <div class="logo-area clearfix">
                <div class="logo col-lg-3 col-md-12">
                   <a href="/">
                      <img src="/images/logo/ra_header.png" alt="Header logo of RamindoAutonesia">
                   </a>
                </div>
                <!-- logo end-->
             </div>
             <!-- Logo Area End-->
          </div>
       </div>
       <!-- Container end-->
       <div class="site-nav-inner site-navigation navigation navdown">
          <div class="container">
             <nav class="navbar navbar-expand-lg ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                   aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"><i class="icon icon-menu"></i></span></button>
                <!-- End of Navbar toggler-->
                <div class="collapse navbar-collapse justify-content-start" id="navbarSupportedContent">
                   <ul class="navbar-nav">
                     <li class="nav-item dropdown">
                        <a href="/">Home</a>
                  </li>
                      <!-- li end-->

                      <li class="nav-item dropdown"><a class="nav-link" href="#" data-toggle="dropdown">Products<i class="fa fa-angle-down"></i></a>
                         <ul class="dropdown-menu" role="menu">
                            <li><a href="/products/">All</a></li>
			    {{ with $.Site.Params.brands }}
			    {{ range $.Site.Params.brands }}
			    <li><a href="{{ print "/categories/" .name }}">{{ .title }}</a></li>
			    {{ end }}
			    {{ end }}
                         </ul>
                      </li>
                      <!-- li end-->
                      <li class="nav-item dropdown">
                        <a href="/services/">Services</a>
                  </li>
                      <!-- li end-->
                      <li class="nav-item dropdown">
                        <a href="/about-us/">About Us</a>
                  </li>
                      <!-- li end-->
                      <li class="nav-item dropdown">
                        <a href="/contact-us/">Contact Us</a>
                  </li>
                      <!-- li end-->
                   </ul>
                   <!--Nav ul end-->
                </div>    
                <form class="newsletter-form" id="newsletter-form" action="/search" method="get">
                  <div class="form-group">
                     <input class="form-control" type="search" name="query" placeholder="Search for products" autocomplete="off" id="search-query">
                     <button type="submit" class="btn btn-primary"><i class="fa fa-paper-plane"></i></button>
                  </div>
               </form>
                <!-- Top bar btn -->
             </nav>
             <!-- Collapse end-->
             
          </div>
       </div>
       <!-- Site nav inner end-->
    </header>
    <!-- Header end-->
 </div>
