    <!-- Javascript Files-->
    {{ $jquery := resources.Get "/js/jquery.js" }}
    {{ $bootstrap := resources.Get "/js/bootstrap.min.js" }}
    {{ $owl := resources.Get "/js/owl.carousel.min.js" }}
    {{ $counterup := resources.Get "/js/jquery.counterup.min.js" }}
    {{ $waypoints := resources.Get "/js/waypoints.min.js" }}
    {{ $colorbox := resources.Get "/js/jquery.colorbox.js" }}
    {{ $custom := resources.Get "/js/custom.js" }}
    {{ $fuse := resources.Get "/js/fuse.min.js" }}
    {{ $search := resources.Get "/js/search.js" }}
    {{ $fullscript := slice $jquery $bootstrap $owl $counterup $waypoints $colorbox $custom $fuse $search | resources.Concat "/js/main.js" | minify | fingerprint "sha512" }}
    <script type="text/javascript" src="{{ $fullscript.RelPermalink }}" integrity="{{ $fullscript.Data.Integrity }}"></script>
