{{ define "main" }}

<div class="carousel slide" id="main-slide" data-ride="carousel">
	<!-- Indicators-->
	<ol class="carousel-indicators visible-lg visible-md">
	   <li class="active" data-target="#main-slide" data-slide-to="0"></li>
	</ol>
	<!-- Indicators end-->
	<!-- Carousel inner-->
	<div class="carousel-inner">
	   <div class="carousel-item active" style="background-image:url(/images/banner/home.jpg);">
		  <div class="container">
			 <div class="slider-content text-left">
				<div class="col-md-12">
				   <h3 class="slide-sub-title">Ramindo Autonesia Dinamika</h3>
				   <p class="slider-description lead">Importir dan Agen Tunggal Resmi dari Produk Merk "BLACK BEAR" dan "COMEUP"<br/>Melayani Jasa Pembuatan Lift Barang</p>
				   <a href="https://api.whatsapp.com/send?phone=628990173505" class="btn btn-primary"><i class="fa fa-whatsapp"></i> Chat via WhatsApp</a>
				</div>
				<!-- Col end-->
			 </div>
			 <!-- Slider content end-->
		  </div>
		  <!-- Container end-->
	   </div>
	   <!-- Carousel item 1 end-->
	</div>
	<!-- Carousel inner end-->
	</div>
 <!-- Carousel end-->


 <section class="ts-services solid-bg" id="ts-services">
	<div class="container">
	   <div class="row text-center">
		  <div class="col-md-12">
			 <h2 class="section-title"><span>Produk</span>Merk yang Kami Tawarkan</h2>
		  </div>
	   </div>
	   <!-- Title row end-->
	   <div class="row ts-service-row-box">
                 {{ with $.Site.Params.brands }}
                 {{ range $.Site.Params.brands }}
		  <div class="col-lg-6 col-md-6">
			 <div class="ts-service-box">
				<div class="ts-service-image-wrapper text-center">
					{{ $logo_path := print "images/logo/" .name ".png" }}
					{{ $logo := resources.Get $logo_path  }}
					{{ $logo := $logo.Resize "x150" }}
					<a href="categories/{{ .name }}/"><img class="img-fluid" src="{{ $logo.RelPermalink }}" width="{{ $logo.Width }}" height="{{ $logo.Height }}" alt="{{ .title }} logo"></a>
				</div>
				<div class="ts-service-content">
					<h3 class="service-title">{{ .title }}</h3>
				</div>
			 </div>
		  </div>
                 {{ end }}
                 {{ end }}
	   </div>
	   <!-- Content row end-->
	</div>
	<!-- Container end-->
 </section>
 <!-- Service end-->


 <section class="ts-services solid-bg" id="ts-services">
	<div class="container">
	   <div class="row text-center">
		  <div class="col-md-12">
			 <h2 class="section-title"><span>Keunggulan</span>Kenapa Pilih Kami?</h2>
		  </div>
	   </div>
	   <!-- Title row end-->
	   <div class="row ts-service-row-box">
		<div class="col-md-4 text-center">
		   <div class="ts-feature-box">
			  <div class="ts-feature-info">
				 <div class="feature-img">
					<i class="fa fa-hourglass"></i>
				 </div>
				 <h3 class="ts-feature-title">Pengalaman Lebih dari 30 Tahun</h3>
			  </div>
		   </div>
		   <!-- feature box-1 end-->
		</div>
		<!-- col-1 end-->
		<div class="col-md-4 text-center border-left">
		   <div class="ts-feature-box">
			  <div class="ts-feature-info">
				 <div class="feature-img">
					<i class="fa fa-thumbs-up"></i>
				 </div>
				 <h3 class="ts-feature-title">Garansi</h3>
			  </div>
		   </div>
		   <!-- feature box-2 end-->
		</div>
		<!-- col-2 end-->
		<div class="col-md-4 text-center border-left">
		   <div class="ts-feature-box">
			  <div class="ts-feature-info">
				 <div class="feature-img">
					<i class="fa fa-wrench"></i>
				 </div>
				 <!--<i class="icon icon-clock3"></i>-->
				 <h3 class="ts-feature-title">Teknisi Handal</h3>
			  </div>
		   </div>
		   <!-- feature box-2 end-->
		</div>
		<!-- col-3 end-->
	 </div>
	   <!-- Content row end-->
	   <div class="row ts-service-row-box">
		<div class="col-md-4 text-center">
		   <div class="ts-feature-box">
			  <div class="ts-feature-info">
				<div class="feature-img">
					<i class="fa fa-truck"></i>
				 </div>
				 <h3 class="ts-feature-title">Cepat Antar</h3>
			  </div>
		   </div>
		   <!-- feature box-1 end-->
		</div>
		<!-- col-1 end-->
		<div class="col-md-4 text-center border-left">
		   <div class="ts-feature-box">
			  <div class="ts-feature-info">
				 <div class="feature-img">
					<i class="fa fa-tag"></i>
				 </div>
				 <h3 class="ts-feature-title">Harga Terbaik</h3>
			  </div>
		   </div>
		   <!-- feature box-2 end-->
		</div>
		<!-- col-2 end-->
		<div class="col-md-4 text-center border-left">
		   <div class="ts-feature-box">
			  <div class="ts-feature-info">
				 <div class="feature-img">
					<i class="fa fa-user"></i>
				 </div>
				 <!--<i class="icon icon-clock3"></i>-->
				 <h3 class="ts-feature-title">Profesional dan Cepat Tanggap</h3>
			  </div>
		   </div>
		   <!-- feature box-2 end-->
		</div>
		<!-- col-3 end-->
	 </div>
	</div>
	

	<!-- Container end-->
 </section>
 <!-- Service end-->

{{ end }}
